<h1>Welcome!</h1>

<p>The welcome screen is going to become a great place to introduce users to Silk, demonstrate features, and guide the user through editing their first page. But for now, checkout the README file :-)</p>