<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title><%= page_title :suffix => 'My Website' %></title>
    <%= silk_headers %>
    <link href="/silk-themes/default/css/reset.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/silk-themes/default/css/layout.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/silk-themes/default/css/content.css" media="screen" rel="stylesheet" type="text/css" />
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div id="content">
      <div id="page">
        <%= page_content %>
      </div>
      <div id="footer">
        <% snippet 'Footer' do %>
          &copy; Copyright 2010 My Website. All rights reserved.
        <% end %>
      </div>
    </div>
  </body>
</html>